@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body{
  font-family: 'Quicksand',sans-serif;
  font-weight: 300;
}

.app{
  text-align: center;
}

h1{
  font-size:60px;
  line-height:0;
}

h2{
  font-size:20px;
  line-height:0;
  font-weight:300px;
}

h3{
  font-size:15px;
  line-height:0;
  font-weight:300px;
}

p{
  color: grey;
  font-size:12px;
  line-height:0;
}

hr{
  display:block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(227,227,228)
}

.section{
  display:flex;
  flex-direction:row;
  margin:0;
}


/* header*/
.header{
  height: 60px;
  width: 100%;
  border-bottom: solid 1px rgba(227,227,228);
  display:flex;
  flex-direction: row;
  justify-content:space-between;

}

.logo{
  width: 129px;
  height: 40px;
  background-image: url('https://i.imgur.com/ZZ75Unh.png');
  background-size: 129px;
  margin:5px

}

.upload{
  width: 30px;
  height: 25px;
  background-image: url("https://i.imgur.com/0MtQ9RF.png");
  background-size: 30px;
  margin-top: 15px;
}

.user-avatar{
  width: 40px;
  height: 40px;
  background-color: chartreuse;
  border-radius: 20px;
  margin:5px 20px 0 20px;
}

.container{
  display:flex;
  flex-direction:row;
}

.followerscol{
background-color: red;
width: 500px;
height: 800px
}

.suggested-box{
  background-color: blue;
  width: 400px;
  height: 400px;
}

.feed{
  background-color: white;
  width: 500px;
}